.editBox {
  display: flex;
  width: 50rem !important;
  flex-flow: column;
  background: white;
  padding: 1rem;
  margin: 5px 5px 50px 5px;
  border-radius: 5px;
  max-width:160px !important;
}

.container {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
