.categoryList {
  width: 100%;
  max-width: 300px;
  padding: 10px 10px 10px 10px !important;
  float: left;
  /* background-color: #e29b0b; */
  margin: 0 0 2% 1%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  /* overflow: hidden; */
}

.recipeImage {
  max-width: 400px;
  max-height: auto;
}

.containerMultiselect:not(:first-child) {
  margin-top: 10px;
}
.optionListContainer {
  position: relative !important;
}
.optionContainer {
  position: relative !important;
}
.containerMultiselect {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}
.categoryListItem {
  margin-top: -30px;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-color: rgb(255, 131, 29);
  padding-top: 3px;
  color: black;
  border-radius: 5px;
}

#multiselectContainerReact {
  border-radius: 5px;
}
.changeIndex-1 {
  z-index: 1 !important;
}

.changeIndex-2 {
  z-index: 2 !important;
}

.changeIndex-3 {
  z-index: 3 !important;
}

#multiselectContainerReact {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}
#multiselectContainerReact > div > input {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none !important;
}
#multiselectContainerReact > div {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ingbox {
  max-height: 20px !important;
  color: white;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2%;
  background-color: rgb(39, 39, 39);
  padding: 2px 4px;
  margin: 1px 0 2px 0;
  font-size: 1em !important;
}

.false {
  max-height: 35px;
}

._3vt7_Mh4hRCFbp__dFqBCI li {
  padding: 0 0 0 7px;
}

.optionContainer {
  background: white;
}
.recipeContainer {
  padding: 10px 10px 10px 0 !important;
  width: 100%;
  max-width: 948px;
  float: right;
  /* background-color: #e29b0b; */
  margin: 0 1% 2% 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.ingredientBox {
  min-height: 30px;
  width: 100%;
  float: right;
  background-color: white;
  margin: 0 0 1.5% 0;
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 5px;
}

.chip {
  display: none;
}

.recipeBox {
  width: 100%;
  float: right;
  min-height: 300px;
  background-color: ivory;
  margin: 0.3% 0 0 0;
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 5px;
}
.bigbox {
  display: inline-flex;
  flex-direction: row;
}
.close {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1px 5px 0 0;
  background-color: rgb(39, 39, 39);
  opacity: 1 !important;
  transition: all 0.2s;
}

.close:hover {
  cursor: pointers;
  background-color: rgba(251, 65, 48, 0.7);
}

.close:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7";
  font-size: 18px;
  padding-top: 1px;
  color: #fff;
  text-align: center;
}

.recipe-image {
  width: 90%;
  height: 15rem;
  object-fit: cover;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
}

.title {
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 25px;
  font-weight: bold;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  margin: 0 0 5px 0;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 0;
}

.ingList {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.recipeIngs {
  font-size: 16px;
  margin-bottom: 10px;
}

.ingTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.txt {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 0;
}

.tipBox {
  background: rgb(39, 39, 39);
  color: white;
  padding: 10px;
  width: 938px;
  border-radius: 5px;
}
