.categoryList {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  float: left;
  background-color: #e29b0b;
  margin: 1% 0 1% 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  /* overflow: hidden; */
}

.containerMultiselect:not(:first-child) {
  margin-top: 10px;
}
.optionListContainer {
  position: relative !important;
}
.optionContainer {
  position: relative !important;
}
.containerMultiselect {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30px;
}
.categoryListItem {
  margin-top: -30px;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-color: rgb(251, 49, 76);
  color: black;
}
.changeIndex-1 {
  z-index: 1 !important;
}

.changeIndex-2 {
  z-index: 2 !important;
}

.changeIndex-3 {
  z-index: 3 !important;
}

/* input {
  margin-top: -22px;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 49, 76, 0.8);
  color: rgb(248, 247, 247);
} */

#multiselectContainerReact {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}
#multiselectContainerReact > div > input {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none !important;
}
#multiselectContainerReact > div {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ingbox {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10%;
  background-color: blue;
  padding: 4px 8px;
  margin: 0 5px 0 0;
}

.ingbox:hover {
  cursor: pointers;

  background-color: lightblue;
}

.optionContainer {
  background: white;
}
.recipeContainer {
  /* overflow: hidden; */
  padding: 20px;
  /* width: 600px; */
  /* height: 80vh; */
  min-width: 600px;
  float: right;
  background-color: #e29b0b;
  margin: 1% 0 1% 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.ingredientBox {
  min-height: 25px;
  width: 100%;
  float: right;
  background-color: white;
  margin: 1.5% 0 1.5% 0;
  border-style: solid;
  border-color: rgba(89, 105, 252, 0.2);
}

.chip {
  display: none;
}

.recipeBox {
  width: 100%;
  float: right;
  min-height: 300px;
  background-color: blue;
  margin: 1.5% 0 1.5% 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.close {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  position: relative;
}
.close:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7";
  font-size: 18px;
  color: #fff;
  text-align: center;
}
