.css-133qd29 {
  margin: 0 15px 0 15px;
}

.booleans {
  width:100%;
  text-transform:uppercase;
  display: inline-flex;
  font-size:10px !important;
}

.edit-form {
  max-width:100% !important;
  text-align:center;
  padding: 0 !important;
}

.label-text {
  text-align:center;
}

.tickBox{
  padding: 0 3rem !important;
  text-align:center;
}

.isVeg{
  margin-left:-10px;
}

.sizeForm {
  text-align:center;
}

.doneButton {
  width:100%;
}

.buttonDiv {
  max-width:200px;
}