.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0px;
}


body {
  background-color: #f1b339;
}

@media screen and (max-width: 600px) {
  .footer-part {
    display: none;
  }
}
