.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f1b339;
  font-family: "Spartan";
  padding: 40px;
  padding: 0;
}

.page-footer {
  display: none !important;
}

@media all and (min-width: 768px) {
  .page-footer {
    display: block !important;
    bottom: 0;
    align-self: flex-end;
    position: relative;
    font-size: 0.8rem;
  }
}
