.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f1b339;
  font-family: "Spartan";
  padding: 40px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .page-footer {
    display: none;
  }
}

.page-footer {
  bottom: 0;
  align-self: flex-end;
  position: relative;
}
